{% for company in include.content %}
  <div class="company-block row">
    <div class="col-sm-3 company-left">
      <h4 class="company-title">{{ company.company }}</h4>
      {% if company.period %}
        <p class="company-period">{{ company.period }}</p>
      {% endif %}
    </div>
    <div class="col-sm-9 company-right">
      {% for project in company.projects %}
        <div class="project-item with-vertical-line">
          <p><b class="project-title">{{ project.title }}</b></p>
          {% if project.period %}
            <p class="project-period">{{ project.period }}</p>
          {% endif %}
          <ul class="project-description">
            {% for desc in project.description %}
              <li>{{ desc }}</li>
            {% endfor %}
          </ul>
          <br><br>
          {% unless forloop.last %}
            <hr class="thin-line">
          {% endunless %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% unless forloop.last %}
    <hr class="thick-line">
  {% endunless %}
{% endfor %}
