/* 페이지 레이아웃 스타일 */
.main-container {
  flex: 1;
  margin-left: 170px;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  min-height: 100vh;
}

.sidebar-container {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 사이드바 스타일 */
html .sidebar {
  margin-top: 0px;
  position: fixed;
  left: 20px;
  top: 80px;
  z-index: 1000;
  background-color: transparent;
  padding: 20px;
}

.sidebar a:hover {
  color: #1478cf;
}

.sidebar nav ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
  display: block;
}

.sidebar nav ul li a:hover {
  color: #007BFF;
  transform: scale(1.15);
  transition: transform 0.2s ease;
  
}

/* 다크모드 스타일 */
html.dark .sidebar-container {
  background-color: rgba(38, 38, 38, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

html.dark .main-container {
  background-color: #222222;
}

html.dark .sidebar {
  background-color: transparent;
  color: #ffffff;
}

html.dark .sidebar a {
  color: #ffffff;
}

html.dark .sidebar a:hover {
  color: #2585d8;
} 

@media (max-width: 768px) {
  .row.clearfix.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row.clearfix.layout .details {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 10px;
  }

  .row.clearfix.layout .content {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
